@using Core
@model Clients
@{
    ViewBag.Title = "Index";
}

<ul class="list-group list-group-flush">
    <li class="list-group-item">Ваш Email: @Model.Email</li>
    <li class="list-group-item">Ваше имя: @Model.Fio</li>
</ul>

