@using Core;
@model Clients
@{
    ViewBag.Title = "SignInPage";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row align-items-center h-100">
        <div class="col w-25">

        </div>
        <div class="col align-self-center">
            <div class="card align-items-center">
                <div class="card-body">
                    <h5 class="card-title">Authorization</h5>
                    @using (Html.BeginForm())
                    {
                        <form>
                            <div class="form-group">
                                <label for="Email">Email address</label>
                                <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" placeholder="Enter email" />
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="Pass">Password</label>
                                <input type="password" class="form-control" id="Pass" name="Pass" placeholder="Password" />
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-success">SignUp</button>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="col w-25"></div>
    </div>
</body>
</html>